{% extends "base.html" %}

{% block title %}
Edit Student
{% endblock %}

{% block content %}
<h1>Edit Student</h1>
<form method="POST">
{{ form.hidden_tag() }}
<div>
    {{ form.name.label }}
    {{ form.name() }}
</div>
<div>
    {{ form.email.label }}
    {{ form.email() }}
</div>
<div>
    {{ form.age.label }}
    {{ form.age() }}
</div>
<div>
    {{ form.course.label }}
    {{ form.course() }}
</div>
<div>
    {{ form.submit(value="Update Student") }}
</div>
</form>

<br>

<a href="{{ url_for('main.students') }}">
    Back to Students
</a>

{% endblock %}