{% extends "base.html" %}

{% block title %}
Students
{% endblock %}

{% block content %}
<h1>Registered Students</h1>
<a href="{{ url_for('main.home') }}">Register New Student</a>
<br><br>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Course</th>
        <th>Actions</th>
    </tr>

    {% for student in students %}
    <tr>
        <td>{{ student.id }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.course }}</td>
        <td>
            <a href="{{ url_for('main.edit_student', student_id=student.id) }}">
                Edit
            </a>
            |
            <a href="{{ url_for('main.delete_student',student_id=student.id) }}">
                Delete
            </a>
        </td>
    </tr>
    {% endfor %}

</table>
{% endblock %}